@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-border-button {
  color: white;
  background: linear-gradient(45deg, #60a5fa, #a78bfa, #60a5fa);
  background: linear-gradient(45deg, #60a5fa, #a78bfa, #60a5fa);

  transition: opacity 0.3s ease;
  animation: borderRotate 4s linear infinite;
}

@keyframes borderRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
/* menu mobile */
.slider-panel {
  position: fixed;
  top: 0;
  left: -2000px; /* Initially hidden off-screen */
  width: 80%;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  transition: left 0.3s ease;
}

.slider-panel.open {
  left: 0; /* Slide in when open */
  z-index: 99999;
}
/* menu mobile */
